.App {
	text-align: center;
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
	position: relative;

	.heading {
		font-size: 18px;
		margin-bottom: 5px;
		position: absolute;
		left: 15px;
		top: 15px;
	}
}

.App-link {
	color: #61dafb;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(360deg);
	}
}

.ant-table-wrapper {
	.table-row-light {
		background: rgb(215, 219, 221);
		/* background: #fff; */
	}

	.table-row-dark {
		background: rgb(231, 223, 223);
	}

	.ant-table-pagination {
		background: #fff;
		margin-right: 15px;
	}

	.expanded-view-wrapper {
		margin: 3px 0 3px 10px;
		padding: 10px 15px;
		border: 1px solid lightgrey;
	}
}